<configuration debug="false">
  <logger name="org.apache" level="OFF" additive="false" />
  <logger name="org.apache.commons" level="OFF" additive="false" />
  <logger name="org" level="OFF" additive="false" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <withJansi>false</withJansi>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <charset>UTF-8</charset>
      <pattern>
        %d{HH:mm:ss:SSS} [%thread] %-5level - %msg%n
      </pattern>
    </encoder>
  </appender>
  <logger name="org.apache.commons.beanutils" level="WARN"/>
  <logger name="log4j.logger.org.apache.commons.beanutils" level="ERROR"/>
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
