<configuration debug="false">
    <logger name="org.apache" level="OFF" additive="false" />
    <logger name="org.apache.commons" level="OFF" additive="false" />
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>false</withJansi>
        <encoder>
            <pattern>
                %-5level - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
